
body{
    background-image: url("https://images.unsplash.com/photo-1515847049296-a281d6401047?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dG8lMjBkbyUyMGxpc3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat; 
    background-size: cover;
}
.todoContainer {
    background-color: #adadad71;
    margin: 100px 400px 20px 400px;
}
#date {
    font-size: 20px;
    font-weight: bold;
}

.input button{
    min-width: 5%;
    padding: 15px;
    border: none;
}
.todo-button {
    font-weight: bolder;
}
 .head, .input {
    text-align: center;
}
.head {
    color: rgb(61, 55, 55);
    padding-top: 30px;
}
input {
    width: 30%;
    padding: 15px;
    border: none;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.todo-list {
    min-width: 100%;
    list-style: none;
    margin: 70px 46px;
}
.todo {
    margin-right: 30px;
    border: 3px solid #96835da1;
    background-color: white;
    display: flex;
    font-size: 20px;
    
}
.todo li{
    flex: 1;
}
.trash-btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
   
}
.complete-btn {
    background-color: cyan;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
}
.todo-item {
    padding: 15px;
    font-weight: bold;
     
}
.completed {
    text-decoration: line-through;
}
.fa-check{
    pointer-events: none;
}
@media only screen and (max-width: 800px) {
    .todoContainer {
        background-color: #adadad71;
        margin: 100px 20px 20px 20px;
    }
  }
